<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <property name="severity" value="error"/>

    <!-- Tamanho máximo da linha -->
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>

    <!-- Sem trailing spaces -->
    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <module name="TreeWalker">

        <!-- Imports -->
        <module name="UnusedImports"/>
        <module name="AvoidStarImport"/>

        <!-- Nomenclatura -->
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="ParameterName"/>
        <module name="LocalVariableName"/>

        <!-- Boas práticas -->
        <module name="EqualsHashCode"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="StringLiteralEquality"/>

        <!-- Formatação -->
        <module name="WhitespaceAround"/>
        <module name="NoWhitespaceBefore"/>

        <!--        Variavel Final -->

        <module name="FinalLocalVariable">
            <property name="tokens" value="VARIABLE_DEF, PARAMETER_DEF"/>
            <property name="validateEnhancedForLoopVariable" value="true"/>
        </module>

        <module name="FinalParameters"/>

    </module>
</module>